@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Scrollbar */
.no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* WebKit-based browsers (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
